# Node / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
.next/
dist/
coverage/

# Env files
.env*
.supabase/

# Mac / Editor
.DS_Store
*.swp
.idea/
.vscode/

.continue/
supabase/.temp/
